node_modules/
dist/
*build/
# _gh_pages/ # suncuya hugo kurmamak için build'i gönderelim.
static/images/.DS_Store
static/*.js
static/*.css
static/*.map
.DS_Store
classNames.json
app.bundle.js.LICENSE.txt
temp
yarn-error.log
release
.release
public/